.aboutParagraph{
    width:100%;
    font-size: 18px;
}
.aboutSecondParagraph{
    margin-top: 1rem;
    width:100%;
    font-size: 18px;
}

.subtitle{
    font-size: 22px;
    margin-bottom: 1rem;
   
}
