.aboutParagraph{
    width:100%;
    font-size: 18px;
}
.aboutSecondParagraph{
    margin-top: 1rem;
    width:100%;
    font-size: 18px;
}

.subtitle{
    font-size: 22px;
    margin-bottom: 1rem;
   
}

.contentButton {
    margin-top: 2rem;
    width: 200px;
    border: 1px solid grey;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 21px;
    text-align: center;
  }
