.container{
    width:90%;
    margin: 0 auto;
}

.imageTitle{
    font-size: 48px !important;
    margin-bottom: 1rem;
}

.imageSubtitle{
    font-size: 22px;
    margin-bottom: 1rem;
    text-align: start;
    width: 70%;
   
}

.contentButton {
    margin-top: 2rem;
    width: 200px;
    border: 1px solid grey;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 21px;
    text-align: center;
  }
.imageParagraph{
    font-size: 18px;
}

@media screen and (min-width: 1024px) {
    .imageTitle{
        font-size: 28px;
        width:70%;
        margin-bottom: 1rem;
    }
    .imageParagraph{
        width: 70%;
        font-size: 18px;
    }
    
  }