.tilesHeading{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "adobe-kis-variable", sans-serif;
  }
  
  .tilesSubtitle{
    font-size: 38px;
    padding-bottom: 1rem;
    font-family: "adobe-kis-variable", sans-serif;
  }
  
  .tilesParagraph{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .container{
    width:90%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    .tilesSubtitle{
        font-size: 58px;
        margin-bottom: 10px;
      }

      .container{
        padding-top: 6rem;
      }
  }
  