@import url("https://use.typekit.net/fje8ejp.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Quicksand:wght@300..700&family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h1,
h4,
a,
link .font-kis-normal {
  font-family: "adobe-kis-variable", sans-serif;
  font-style: normal;
  font-weight: 300;
}

h3,
span,
.font-kis-italic {
  font-family: "adobe-kis-variable", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.p,
label,
input {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-inter-thin {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.font-dupincel {
  font-family: "dupincel-variable", sans-serif;
  font-variation-settings: "wght" 300, "opsz" 10;
}

html,
body {
  scroll-behavior: smooth;
}

$primary: #fff;

:root {
  --footer-bg: #1d1711;
  --nav-bg: #1d1711;
}

.render-content {
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.button {
  width: 200px;
  border: 1px solid white;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
  font-size: 21px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: white;
    color: #1d1711;
  }
}

.other-information {
  h4 {
    font-size: 20px;
  }
}

.nav-bg-color {
  background-color: var(--nav-bg);
}

.footer-bg-color {
  background-color: var(--footer-bg);
}
