@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

$primary: #fff;

:root {
  --footer-bg: #1d1711;
  --nav-bg: #1d1711;
}

.render-content {
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.button {
  width: 200px;
  border: 1px solid white;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
}

.other-information {
  h4 {
    font-size: 20px;
  }
}

.nav-bg-color {
  background-color: var(--nav-bg);
}

.footer-bg-color {
  background-color: var(--footer-bg);
}

.font-footer-heading {
  font-family: "dupincel-variable", sans-serif;
  font-variation-settings: "wght" 400, "opsz" 10;
}

.font-footer-content {
  font-family: "inter-variable", sans-serif;
  font-variation-settings: "wght" 300, "slnt" 0;
}
